.sobre {
  width: 100%;
}
.title-sobre {
  padding: 5rem;
}
.title-sobre h1 {
  text-align: center;
  font-size: 3rem;
  color: #343333;
}

.logo-sobre {
  margin-bottom: 3rem;
}

.box-text-sobre {
  width: 100%;
  height: 870px;
  margin: 0 97px;
  max-width: 630px;
  padding: 2rem 6rem;
  background-color: #fff;
  position: relative;
}
.box-text-sobre p {
  width: 70%;
  line-height: 2.3rem;
}

.loja-sobre {
  width: 500px;
  position: absolute;
  top: 10%;
  right: -60%;
}
